<!--&lt;!&ndash;{% extends 'index.html' %}&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Info</title>-->
<!--</head>-->
<!--<body>-->
<!--    {% block block_info %}-->
<!--        <h3>All info:</h3>-->
<!--        <ol>-->
<!--            {% for info in info %}-->
<!--                <li>-->
<!--                    <a href="{% url 'info_detail' info.id %}"><h4>{{ info.name }}</h4></a>-->
<!--                </li>-->
<!--            {% endfor %}-->
<!--        </ol>-->
<!--    {% endblock %}-->

<!--</body>-->
<!--</html>-->